<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd" version="2.4">
  <servlet>
    <servlet-name>CourseServlet</servlet-name>
    <servlet-class>com.course.servlets.CourseServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CourseServlet</servlet-name>
    <url-pattern>/show-courses</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>SaveCourseServlet</servlet-name>
    <servlet-class>com.course.servlets.SaveCourseServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SaveCourseServlet</servlet-name>
    <url-pattern>/save-courses</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>SaveXMLCourseServlet</servlet-name>
    <servlet-class>com.course.servlets.SaveXMLCourseServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SaveXMLCourseServlet</servlet-name>
    <url-pattern>/save-xml-courses</url-pattern>
  </servlet-mapping>	
  <servlet>
    <servlet-name>DeleteCourseServlet</servlet-name>
    <servlet-class>com.course.servlets.DeleteCourseServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteCourseServlet</servlet-name>
    <url-pattern>/delete-courses</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>PagingCourseServlet</servlet-name>
    <servlet-class>com.course.servlets.PagingCourseServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PagingCourseServlet</servlet-name>
    <url-pattern>/paging-courses</url-pattern>
  </servlet-mapping>	

  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.html</welcome-file>
  </welcome-file-list>
</web-app>